<!-- <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>        
        <h2 class="page-header">Tampa Bay Lightning vs Columbus Blue Jackets</h2>
        
    </mat-grid-tile>
</mat-grid-list> -->

       
                <mgl-timeline [mobileWidthThreshold]="1">
                    <div class="period-header">Period 1</div>
                        <mgl-timeline-entry>
                            <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
                            <mgl-timeline-entry-dot [size]="50"></mgl-timeline-entry-dot>
                            <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
                        </mgl-timeline-entry>
                        <mgl-timeline-entry class="alternate">
                                <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
                                <mgl-timeline-entry-dot [size]=50><p>14:35</p></mgl-timeline-entry-dot>
                            </mgl-timeline-entry>
                            <mgl-timeline-entry>
                                    <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
                                    <mgl-timeline-entry-dot [size]="50"></mgl-timeline-entry-dot>
                                    <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
                                </mgl-timeline-entry>
                                <mgl-timeline-entry class="alternate">
                                        <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
                                        <mgl-timeline-entry-dot [size]=50><p>14:35</p></mgl-timeline-entry-dot>
                                    </mgl-timeline-entry>
                                    <mgl-timeline-entry class="spacer">
                                            <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
                                            <mgl-timeline-entry-dot [size]=50><p>14:35</p></mgl-timeline-entry-dot>
                                        </mgl-timeline-entry>
                                        <div class="period-header">Period 2</div>
                                        <mgl-timeline-entry class="alternate">
                                                <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
                                                <mgl-timeline-entry-dot [size]=50><p>14:35</p></mgl-timeline-entry-dot>
                                            </mgl-timeline-entry>
                                            <mgl-timeline-entry class="alternate">
                                                    <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
                                                    <mgl-timeline-entry-dot [size]=50><p>14:35</p></mgl-timeline-entry-dot>
                                                </mgl-timeline-entry>
                                                <mgl-timeline-entry class="alternate">
                                                        <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
                                                        <mgl-timeline-entry-dot [size]=50><p>14:35</p></mgl-timeline-entry-dot>
                                                    </mgl-timeline-entry>
                                                    <mgl-timeline-entry class="alternate">
                                                            <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
                                                            <mgl-timeline-entry-dot [size]=50><p>14:35</p></mgl-timeline-entry-dot>
                                                        </mgl-timeline-entry>
                                                        <mgl-timeline-entry class="spacer">
                                                                <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
                                                                <mgl-timeline-entry-dot [size]=50><p>14:35</p></mgl-timeline-entry-dot>
                                                            </mgl-timeline-entry>
                                                            <div class="period-header">Period 3</div>
                                                            <mgl-timeline-entry>
                                                                    <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
                                                                    <mgl-timeline-entry-dot [size]=50><p>14:35</p></mgl-timeline-entry-dot>
                                                                </mgl-timeline-entry>
                    </mgl-timeline>             
                    
