$card-height: 3px;
$period-header-width: 60px;
$period-header-subtract: -25px;
$z-index-override: 999;


mgl-timeline{
    width: 100%;
}

mgl-timeline-entry{
    height: $card-height;
}

mgl-timeline-entry-card{
    height: $card-height;
}

mgl-timeline-entry-dot p
{
    text-align: center;
}

mgl-timeline-entry-dot
{
    cursor: pointer;
}

mgl-timeline-entry.expanded mgl-timeline-entry-dot p
{
    display: none;
}

.period-header{
    position: relative;
    width: fit-content;
    left: calc(50% - #{$period-header-width/2} + 3px);
    z-index: $z-index-override;
    top: $period-header-subtract;
}

.spacer{
    visibility: hidden;
}
