<p>player highlights works!</p>
<p>link: {{ playerHighlights.length }}</p>
<p>hello</p>




<video width="400" controls>
  <source src="https://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
  <source src="mov_bbb.ogg" type="video/ogg">
  Your browser does not support HTML5 video.
</video>


<vg-player>
    <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
        <source src="https://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
    </video>
</vg-player>

<div *ngIf="playerHighlights">
    <!-- TODO fixa style -->
    <ng-container *ngFor="let playerHighlight of playerHighlights">
    <ng-container *ngFor="let playback of playerHighlight.media.playbacks">
            <video style="margin: 2rem;" *ngIf="showVideo(playback, playerHighlight.media?.playbacks)" width="400" controls>
                    <source [src]="playback.url" type="video/mp4">
             </video>
    </ng-container>
    </ng-container>
</div>