<mat-spinner [diameter]="50" *ngIf="spinnerService.visibility | async"></mat-spinner>

<mat-grid-list cols="3" rowHeight="2:1.25">
        <ng-container *ngIf="playerHighlights">
                <!-- TODO fixa style -->
                    <ng-container *ngFor="let playerHighlight of playerHighlights">
                        <mat-grid-tile>
                            <app-media [medias]="[playerHighlight.media]"></app-media>
                        </mat-grid-tile>
                    </ng-container>
            </ng-container>            
</mat-grid-list>
