
<ng-container *ngIf="gameDayHighlights">
    <ng-container *ngFor="let gameDayHighlight of gameDayHighlights">
            <mat-grid-list cols="1" rowHeight="100px">
                    <mat-grid-tile>        
                        <h1 class="highlight-title">{{ gameDayHighlight.dates.join(", ") }}</h1>
                    </mat-grid-tile>
                    <!-- <mat-grid-tile *ngIf="!hasMedia(gameDayHighlight)">
                            <p>{{ 'game-day-highlights.no_media' | translate }}</p>
                    </mat-grid-tile> -->
            </mat-grid-list>
            <mat-grid-list  cols="2" rowHeight="2:1.25"> <!-- *ngIf="hasMedia(gameDayHighlight)" -->
                            <ng-container *ngFor="let game of gameDayHighlight.games">
                                <mat-grid-tile>    
                                    <app-media [media]="game.media"></app-media>
                                </mat-grid-tile>
                            </ng-container>
            </mat-grid-list>
    </ng-container>

    <mat-grid-list cols="1" rowHeight="100px">
            <mat-grid-tile>      
                    <button (click)="loadMore()" mat-raised-button color="primary">{{ 'game-day-highlights.load_more' | translate}}</button>
            </mat-grid-tile>
    </mat-grid-list>
</ng-container>

