
<div @fade *ngIf="gameDayHighlights">
    <div @fade *ngFor="let gameDayHighlight of gameDayHighlights">
      

            <mat-grid-list cols="1" rowHeight="100px">
                    <mat-grid-tile>        
                        <h1 class="highlight-title">{{ gameDayHighlight.dates.join(", ") }}</h1>
                    </mat-grid-tile>
    
            </mat-grid-list>
            <mat-grid-list cols="1" [rowHeight]="48 * gameDayHighlight.games.length + 35 + 'px'">
                    <mat-grid-tile>
   
                                        <mat-list @fade>
                                                        <mat-divider></mat-divider>
                                                        <div matRipple *ngFor="let game of gameDayHighlight.games"> 
                                                                <mat-list-item [ngClass]="{ 'not-finished': !gameFinished(game) }" class="pointer-cursor" (click)="openDialog(game)">
                                                                <img class="team-logo" [src]="getLogoLink(game.homeTeam.id)"/>
                                                                        <span class="team-separator">vs</span>
                                                                <img class="team-logo" [src]="getLogoLink(game.awayTeam.id)"/>
                                                                </mat-list-item>
                                                                 <mat-divider></mat-divider>
                                                        </div>
                                                <mat-divider></mat-divider>
                                        </mat-list>
                    </mat-grid-tile>
            </mat-grid-list>
        </div>
        


    <mat-grid-list cols="1" rowHeight="100px">
            <mat-grid-tile *ngIf="gameDayHighlights && gameDayHighlights.length > 0">      
                    <button (click)="loadMore()" mat-raised-button color="primary">{{ 'game-day-highlights.load_more' | translate}}</button>
            </mat-grid-tile>
    </mat-grid-list>
</div>

